# EditorConfig for Sky Protocol Projects

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Source Code
[*.{sol,sh,js,py}]
indent_style = space
indent_size = 4

# Certora
[*.{conf,spec}]
indent_style = space
indent_size = 4

# Config Files
[{foundry.toml,package.json,.github/**/*.yml}]
indent_style = space
indent_size = 2

# Special Cases
[*.{diff,md}]
trim_trailing_whitespace = false

